footer {
  color: white;
  font-size: 0.75em;
  text-align: center;
  padding: 0 1em;
  background-color: #6070ff;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  bottom: 0;
}

footer p a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}