.myself-bg {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #6070ff;
  border-bottom-left-radius: 100px;
  padding-top: 100px;
  padding: 10px;
  padding-bottom: 120px;
}

.myself-title {
  font-size: 75px;
  font-weight: bold;
  color: white;
}

.myself-table {
  margin-top: 50px;
  border: 1px solid white;
  color: white;
  text-align: left;
}
